{{#partial "content"}}
    <div class="container">
        <div class="success">
            <h3 class="text-center">Congratulation <br> Your hero has been created successfully</h3>
            <div class="text-center">
                <a class="btn btn-red" href="/hero">View Heroes</a>
                <a class="btn btn-green" href="/form">Create squad</a>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}